.mainCat{
    height: 100%;
    width: 100%;
}
.wrapCat{
    height: 100%;
    width: 100%;
}
.animalCardsWrap{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 55% 55% 55% 55%;
    grid-auto-rows: 1fr;
    column-gap: 25px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: -3% 1%;
    grid-template-areas:
     "lion horse dog cat"
     "cow elephant sheep frog";
}

.birdCardsWrap{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 55% 55% 55% 55%;
    grid-auto-rows: 1fr;
    column-gap: 25px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: -3% 1%;
    grid-template-areas:
     "cow elephant sheep frog";
}

.generalCardWrap{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 55% 55% 55% 55%;
    grid-auto-rows: 1fr;
    column-gap: 25px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: -3% 1%;
    grid-template-areas:
     "cow elephant sheep frog";
}   


.specificCategoryCards{
    height: 60%;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    overflow: hidden;
    margin: 10% 45% 15% 10%;
    /* margin-left: 20%;
    margin-top: 1%;
    margin-bottom: 30%; */
    cursor: pointer;
}
.lionCard{
    background-color: #d7f9f8;
    grid-area: lion;
}
.horseCard{
    background-color: #d7f9f8;
    grid-area: horse;
}
.dogCard{
    background-color: #d7f9f8;
    grid-area: dog;
}
.catCard{
    background-color: #d7f9f8;
    grid-area: cat;
}
.cowCard{
    background-color: #d7f9f8;
    grid-area: cow;
}
.elephantCard{
     background-color: #d7f9f8;
    grid-area: elephant;
}
.frogCard{
    background-color: #d7f9f8;
    grid-area: frog;
}
.sheepCard{
    background-color: #d7f9f8;
    grid-area: sheep;
}

.animalImg{
    height: fit-content;
    width: 50%;
    top: 20%;
    position: relative;
}