.mainCat{
    height: 100%;
    width: 100%;
}
.wrapCat{
    height: 100%;
    width: 100%;
}
.animalCardsWrap{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 55% 55% 55% 55%;
    grid-auto-rows: 1fr;
    column-gap: 25px;
    row-gap: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0% 0% 50% 5%;
}
.wrapCardSound{
    height: 120%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.specificCategoryCards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115%;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    overflow: hidden;
    margin: 10% 45% 20% 10%;
    cursor: pointer;
    background-color: #d7f9f8;
}
.specificCategoryCards:hover{
    outline: none;
    cursor: pointer;
    transform: translateY(5px);
}
.imagesStyle{
    height: fit-content;
    width: 50%;
    position: relative;
}
.buttonsContainer{
    display: flex;
    width: 90%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.pronunciationButton{
    width: 15%;
    height: 90%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #471683, #b397fa);
    box-shadow: 1px 3px #999595;
    border: none;
    align-items: center;
    margin-top: -100px;
    position: relative;
}
.pronunciationButton:hover,
.pronunciationButton:active{
    outline: none;
    background-color: #50514f;
    cursor: pointer;
    transform: translateY(1px);
}
.slowButton{
    width: 15%;
    height: 90%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #f23ca0, #f374ba);
    box-shadow: 1px 3px #999595;
    border: none;
    align-items: center;
    margin-left: 10px;
    margin-top: -100px;
    position: relative;
}
.slowButton:hover,
.slowButton:active{
    outline: none;
    background-color: #50514f;
    cursor: pointer;
    transform: translateY(1px);
}
