@import url('https://fonts.cdnfonts.com/css/comic-sans');

.navigationBar{
    background: #D9FF8D;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.Title{
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}
.Title h3{
    font-family: 'Comic Sans', sans-serif;
    font-size: 24px;
    text-align: left;
    /* color: azure; */
}
.homeLogo{
    height: 100px;
    width: 10%;
    display: flex;  
    justify-content: flex-end;
    /* margin-left: 10%; */
    align-items: center;
}